<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FacebookClientToken</key>
	<string>84892ace29668ed8301ea54028e95300</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb723412859456000</string>
			</array>
		</dict>
	</array>
	<key>CFBundleIdentifier</key>
	<string>ColorGenerator</string>
	<key>FacebookAppID</key>
	<string>723412859456000</string>
	<key>FacebookAdvertiserIDCollectionEnabled</key>
	<true/>
	<key>NSAdvertisingAttributionReportEndpoint</key>
	<string>https://appsflyer-skadnetwork.com/</string>
	<key>branch_key</key>
	<string>key_live_eeYgjxieeubZG6slHcta2heousbgj000</string>
	<key>branch_app_domain</key>
	<string>colorganarator.app.link</string>
</dict>
</plist>
